Screen {
    background: #1e1e2e;
}

#waybar {
    height: 3;
    background: #11111b;
    color: #cdd6f4;
    border-bottom: solid #89b4fa;
    padding: 0 1;
    dock: top;
}

#os-logo {
    color: #89b4fa;
    text-style: bold;
    width: 15;
    content-align: center middle;
}

.btn-action {
    width: 22;
    background: #313244;
    color: #a6e3a1;
    border: none;
    margin-top: 1;
}

.btn-action:hover {
    background: #45475a;
    color: #f9e2af;
}

#info-bar {
    width: 1fr;
    content-align: right middle;
    color: #94e2d5;
}

#workspace {
    layout: horizontal;
    height: 1fr;
    padding: 1;
}

.panel {
    width: 1fr;
    height: 1fr;
    border: tall #45475a;
    background: #181825;
    margin: 1;
    padding: 1;
    color: #cdd6f4;
}

.panel:focus {
    border: tall #89b4fa;
}
