/* --- Global Styles --- */
Screen {
    background: #1e1e2e; /* Catppuccin Base */
}

/* --- Login & Sign-up UI (Hyprland Style) --- */
Center {
    width: 100%;
    height: 100%;
}

#login-box {
    width: 50;
    height: 28;
    border: double #89b4fa; /* Blue Accent */
    background: #181825; /* Crust */
    padding: 2 4;
    content-align: center middle;
}

#login-icon {
    color: #89b4fa;
    width: 100%;
    height: 3;
    content-align: center middle;
    text-style: bold;
}

#login-title {
    text-style: bold;
    color: #cdd6f4;
    margin-bottom: 1;
    content-align: center middle;
}

Input {
    margin: 1 0;
    border: tall #313244;
    background: #1e1e2e;
    color: #cdd6f4;
}

Input:focus {
    border: tall #89b4fa;
}

#login-btn {
    width: 100%;
    background: #89b4fa;
    color: #11111b;
    margin-top: 1;
    text-style: bold;
}

#setup-btn {
    width: 100%;
    background: #a6e3a1; /* Green Accent */
    color: #11111b;
    margin-top: 1;
    text-style: bold;
}

#status-msg {
    margin-top: 1;
    content-align: center middle;
    text-style: italic;
}

Footer {
    background: #11111b;
    color: #89b4fa;
}
